fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings

pyjwt
python-multipart
bcrypt
GitPython
pathspec
chromadb
langchain
langchain-community
langchain-chroma
sentence-transformers
langchain-openai
langchain-nvidia-ai-endpoints
langchain-groq
langchain-huggingface

tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-go
tree-sitter-rust
tree-sitter-java
tree-sitter-c
tree-sitter-cpp
tree-sitter-ruby
tree-sitter-php