fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings

pyjwt
python-multipart
pydantic-settings
bcrypt
pyjwt
python-multipart
GitPython
pathspec
chromadb
langchain
langchain-community
langchain-chroma
sentence-transformers
langchain-openai
langchain-nvidia-ai-endpoints
langchain-groq
langchain-huggingface